<button
  [type]="type()"
  [disabled]="disabled() || loading()"
  (click)="clicked.emit($event)"
  [class.px-2.5]="size() === 'sm'"
  [class.py-1.5]="size() === 'sm'"
  [class.text-xs]="size() === 'sm' || size() === 'md'"
  [class.px-3.5]="size() === 'md'"
  [class.py-2]="size() === 'md'"
  [class.px-4]="size() === 'lg'"
  [class.py-2.5]="size() === 'lg'"
  [class.text-sm]="size() === 'lg'"
  [class.bg-indigo-600]="variant() === 'primary'"
  [class.hover:bg-indigo-500]="variant() === 'primary'"
  [class.text-white]="variant() === 'primary' || variant() === 'success'"
  [class.border-indigo-500]="variant() === 'primary'"
  [class.shadow-indigo-600/20]="variant() === 'primary'"
  [class.bg-[#18181b]]="variant() === 'secondary'"
  [class.hover:bg-zinc-800]="variant() === 'secondary'"
  [class.text-zinc-200]="variant() === 'secondary'"
  [class.border-zinc-700/80]="variant() === 'secondary'"
  [class.bg-transparent]="variant() === 'ghost'"
  [class.hover:bg-zinc-800/60]="variant() === 'ghost'"
  [class.text-zinc-400]="variant() === 'ghost'"
  [class.hover:text-zinc-100]="variant() === 'ghost'"
  [class.border-transparent]="variant() === 'ghost'"
  [class.bg-emerald-600]="variant() === 'success'"
  [class.hover:bg-emerald-500]="variant() === 'success'"
  [class.border-emerald-500]="variant() === 'success'"
  [class.shadow-emerald-600/20]="variant() === 'success'"
  class="inline-flex items-center justify-center gap-2 rounded-lg font-medium border transition-all active:scale-[0.99] disabled:opacity-40 disabled:cursor-not-allowed disabled:active:scale-100 shadow-sm cursor-pointer"
>
  @if (loading()) {
    <svg class="animate-spin h-3.5 w-3.5" viewBox="0 0 24 24" fill="none">
      <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
      <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
    </svg>
  }
  <ng-content></ng-content>
</button>
